.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

body {
    background-color: #EDF1D6;
    font-family: 'Poppins', Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #9DC08B;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
    margin: 50px 20px 20px 20px;
    border-radius: 7px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.6);
    position: relative;
    padding-top: 20px;
    z-index: 10;

}

.logo img {
    max-width: 200px;
    max-height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title {
    margin: 0;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    
    padding: 10px 10px 10px 10px;
    display: inline-block;
    background-color: #6D8B74;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.6);
    max-height: 30px;
}

button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 40px 40px 66px 40px;
    display: inline-block;
    background-color: #6D8B74;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.6);
    max-height: 30px;
    font-size: 25px;
    z-index: 20;
}

button:hover{
    background-color: #f5f5f5;
    color: #364f6b;
    transform: translateY(-5px);
}



nav a:hover {
    background-color: #f5f5f5;
    color: #364f6b;
    transform: translateY(-5px);
    z-index: 10;

}

.post {
    max-width: 1000px;
    margin: 50px auto 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #9DC08B;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.6);
    margin-bottom: 20px;
}

.post_information {
    flex: 1 1 100%;
    max-height: 50px;
    background-color: #6D8B74;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
    margin: 10px auto 10px auto;
    border-radius: 7px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.6);
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 20px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
}

.post_information:hover {
    background-color: #f5f5f5;
    color: #364f6b;
    transform: translateY(-5px);
}


.post_author {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-height: 50px;
    justify-content: center;
}

.post_title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 25px;
    max-height: 50px;
    justify-content: center;
}

.post_data {
    display: flex;
}

/* category_information is a div that contains a category div and multiple rating divs. each div should be on a separate line. the category_information div must be on the left */
.category_information {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: center;
    margin: 10px auto 10px auto;
    padding: 20px;
    border-radius: 10px;
    flex: 1 1 150px;
    margin-left: 0;
}

/* make the category like the post_information */
.category, .rating {
    flex: 1 1 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6D8B74;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.6);
    padding: 5px;
    max-height: 30px;
    margin-bottom: 10px;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.category:hover {
    background-color: #f5f5f5;
    color: #364f6b;
    transform: translateY(-5px);
}

/* place post_content to the right of the category_information, in the post */
.post_content {
    flex: 1 1 100%;
    margin: 10px auto 10px 30px;
    padding: 20px;
    border-radius: 10px;
    background-color: #9DC08B;
    box-shadow: 0 4px 6px rgba(0,0,0,0.6);
    align-self: flex-end;
    margin-bottom: 50px;
}

/* make logo disappear when it overlaps nav */
@media screen and (max-width: 800px) {
    .logo {
        display: none;
    }

    header {
        justify-content: center;
    }
}

/* make header fit screen when zooming much */
@media screen and (max-width: 600px) {
    header {
        margin: 0;
        justify-content: center;
    }
}

/* make nav taller when zooming in order to fit the text */
@media screen and (max-width: 400px) {
    nav {
        flex-direction: column;
    }
}

/* make post information taller and display it post_author and post_title on separate lines when zooming in */
@media screen and (max-width: 500px) {
    .post_information {
        justify-content: center;
    }

    .post_title {
        font-size: 20px;
    }

    .post_information .post_author {
        display: none;
    }
}

