.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --gradient-start: #6563ed;
    --gradient-end: #26c3de;
    --scrollbar-track-color: #f1f1f1;
    --scrollbar-thumb-color: #4868fd;
    --scrollbar-thumb-hover-color: #002dff;
    --box-color: rgba(0, 0, 0, 0.5);
}

[data-theme="dark"] {
    --background-color: #151515;
    --text-color: #ffffff;
    --gradient-start: #333333;
    --gradient-end: rgba(0, 9, 84, 0.25);
    --scrollbar-track-color: #222222;
    --scrollbar-thumb-color: #888888;
    --scrollbar-thumb-hover-color: #cccccc;
    --box-color: rgba(66, 66, 66, 0.4);
}


body {
    font-family: Poppins, Arial, sans-serif;
    color: var(--text-color);
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

.top-gradient {
    position: fixed;
    width: 100%;
    min-height: 95vh;
    background-image: linear-gradient(to top right, var(--gradient-start), var(--gradient-end));
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    z-index: 1;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
}

body::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-color);
}


.header {

    margin-top: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    width: 90%; /* You can adjust this value based on your preference */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    z-index: 1000;
    transform: translateX(-50%);
}

.logo img  {
    height: 100px;
}

.add-category-button, .logout-button {
    background: none;
    border: none;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin-left: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

.add-category-button:hover, .logout-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

nav{
    display:flex;
    align-items:center;
    justify-content: space-between;
    width: 100%;
}
.nav-buttons {
    align-items:center;
    justify-content:flex-end;
}
.dark-button{
    align-items:center;
    justify-content:flex-start;
}
.toggle-button{
    background-color: transparent;
    border-color: transparent;
}
.toggle-button img{
    height:40px;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin-left: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 1000px); /* Change this to min-height */
    padding: 20px; /* Add some padding around the content */
    padding-top: 250px;
    z-index: 1000;
}

.description {
    position: sticky;
    top: 0;
    padding: 20px;
    justify-content: end;
    font-size: 18px;
    color: #fff;
    text-align: justify;
    margin-left: 50px;
    margin-right: 25px;
    margin-top: 0; /* Update this line */
    margin-bottom: auto; /* Add this line */
    z-index: 1000;
}

.rev-image  {
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: 1000;
}


.buttons-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    margin-bottom: 100px;
}

.buttons-box {
    width: 400px;
    padding: 40px;
    background: var(--box-color);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
    margin-left: 25px;
    z-index: 1000;

}

.error-container {
    color: #ffffff;
    text-align: center;
    display: block;
}

.category-button{
    position: relative;
    padding: 10px 20px;
    color: #b79726;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
    background: transparent; /* Add this */
    border: none; /* Add this */
    z-index: 1000;
}

.category-button:hover {
    background: #f49803;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #f4c803, 0 0 25px #bd9d0b, 0 0 50px #f4e403,
    0 0 100px #d5cf1e;
    transform: translateY(-10px);
    z-index: 1000;
}

/* make logo disappear when it overlaps nav */
@media screen and (max-width: 800px) {
    .logo {
        display: none;
    }

    header {
        justify-content: center;
    }
}

/* make header fit screen when zooming much */
@media screen and (max-width: 600px) {
    .description {
        display: none;
    }
    header {
        margin: 0;
        justify-content: center;
    }
}

/* make nav taller when zooming in order to fit the text */
@media screen and (max-width: 400px) {
    .description {
        display: none;
    }
    nav {
        flex-direction: column;
    }
}