.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}
:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --gradient-start: #6563ed;
    --gradient-end: #26c3de;
    --scrollbar-track-color: #f1f1f1;
    --scrollbar-thumb-color: #4868fd;
    --scrollbar-thumb-hover-color: #002dff;
    --box-color: rgba(0, 0, 0, 0.5);
}

[data-theme="dark"] {
    --background-color: #151515;
    --text-color: #ffffff;
    --gradient-start: #333333;
    --gradient-end: rgba(0, 9, 84, 0.25);
    --scrollbar-track-color: #222222;
    --scrollbar-thumb-color: #888888;
    --scrollbar-thumb-hover-color: #cccccc;
    --box-color: rgba(66, 66, 66, 0.4);
}

body {
    font-family: Poppins, Arial, sans-serif;
    color: var(--text-color);
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

.top-gradient {
    position: relative;
    width: 100%;
    min-height: 95vh;
    background-image: linear-gradient(to top right, var(--gradient-start), var(--gradient-end));
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    z-index: 1;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
}

body::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-color);
}

.header {
    margin-top: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    width: 90%; /* You can adjust this value based on your preference */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    z-index: 1000;
    transform: translateX(-50%);
}

.help-button {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.popup {
    display: none;
  position: absolute;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
  white-space: pre-wrap;
  word-wrap: break-word;
  transform: translateX(-100%);
}

.help-button:hover + .popup{
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    text-decoration: none;
    display: block;
}

.logo img {
    height: 100px;
}

nav{
    display:flex;
    align-items:center;
    justify-content: space-between;
    width: 100%;
}

.nav-buttons {
    align-items:center;
    justify-content:flex-end;
}

.dark-button{
    align-items:center;
    justify-content:flex-start;
}

.toggle-button{
    background-color: transparent;
    border-color: transparent;
}

.toggle-button img{
    height:40px;
}

nav a{
    text-decoration:none;
    font-size:18px;
    font-weight:500;
    color:#fff;
    margin-left:20px;
    padding:5px 10px;
    border-radius:5px;
    transition:background-color .3s
}

nav a:hover{
    background-color:rgba(255,255,255,.1)
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 1000px); /* Change this to min-height */
    padding: 20px; /* Add some padding around the content */
    margin-top: -75vh;
    z-index: 1000;
}

.category-form {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.category-box {
    width: 400px;
    padding: 40px;
    background: var(--box-color);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
    margin-left: 25px;
    z-index: 1000;
}

.category-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.category-box form .submit-b {
    position: relative;
    padding: 10px 20px;
    color: #b79726;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
    background: transparent; /* Add this */
    border: none; /* Add this */
}

.category-box .submit-b:hover {
    background: #f49803;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #f4c803, 0 0 25px #bd9d0b, 0 0 50px #f4e403,
        0 0 100px #d5cf1e;
}

.category-box .name-label,
.category-box .input-field {
    position: relative;
    width: 90%; /* Adjust this value as needed */
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.category-box .name-label input,
.category-box .input-field input {
    width: 100%;
    padding: 10px 5px; /* Adjust the left and right padding */
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    width: 300px;
}

.category-box .name-label label,
.category-box .input-field label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.category-box .name-label input:focus ~ label,
.category-box .name-label input:valid ~ label,
.category-box .input-field input:focus ~ label,
.category-box .input-field input:valid ~ label {
    top: -20px;
    left: 0;
    color: #f68e44;
    font-size: 12px;
}

.remove-field-btn {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    border-color: rgba(255, 255, 255, 0.32);
    color: rgba(255, 255, 255, 0.79);
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
    padding: 5px 10px;
    max-height: 40px;
    transition: 0.5s;
}

.remove-field-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    text-decoration: none;
}

.add-field-btn {
    justify-content: left;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    border-color: rgba(255, 255, 255, 0.32);
    color: rgba(255, 255, 255, 0.79);
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 10px;
    transition: 0.5s;
}

.add-field-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    text-decoration: none;
}

.submit-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.submit-field {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.submit-b {
    position: relative;
    padding: 10px 20px;
    color: #b79726;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
    background: transparent; /* Add this */
    border: none; /* Add this */
}

.submit-b:hover {
    background: #f49803;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #f4c803, 0 0 25px #bd9d0b, 0 0 50px #f4e403,
        0 0 100px #d5cf1e;
}

/* Responsive styles for screens less than 600px in height */
@media (max-height: 599px) {
    .content {
        padding-top: 150px;
    }
}

@media (max-width: 850px) {
    .content {
        padding-top: 150px;
    }

    .logo {
        display: none;
    }

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .category-box {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (min-width: 1000px) {
    .body {
        display: flex;
        flex-direction: column;
    }
}
