.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

body {
    font-family: "Poppins", Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f1f5fd;
}

.top-gradient {
    position: fixed;
    width: 100%;
    height: 75vh;
    background-image: linear-gradient(to top right, #6563ed, #26c3de);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    z-index: 1;
}

body::-webkit-scrollbar {
    width: 10px; /* width of the scrollbar */
}

body::-webkit-scrollbar-track {
    background: #f1f1f1; /* color of the track */
}

body::-webkit-scrollbar-thumb {
    background: #4868fd; /* color of the thumb */
    border-radius: 5px; /* rounded corners */
}

body::-webkit-scrollbar-thumb:hover {
    background: #002dff; /* color of the thumb on hover */
}

.info-box p {
    max-height: fit-content;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.info-box .no-word-wrap {
    white-space: nowrap;
    max-width: 100%;
}

.add-post-button {
    background: none;
    border: none;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin-left: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

textarea.input {
    width: 100%;
    overflow: hidden;  /* Hide scrollbar */
    resize: none;  /* Disable manual resize */
}

.reply-box .name-label textarea,
.reply-box .input-field textarea {
    width: 75%;
    margin-left: 1rem;
    font-size: 16px;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    resize: none;  /* Disable manual resize */
    overflow: hidden;  /* Hide scrollbar */
}

.header {
    margin-top: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    width: 90%; /* You can adjust this value based on your preference */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    z-index: 1000;
    transform: translateX(-50%);
}

.help-button {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.help-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    text-decoration: none;
}

.logo img {
    height: 100px;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin-left: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 1000px); /* Change this to min-height */
    padding: 20px; /* Add some padding around the content */
    padding-top: 250px;
    z-index: 1000;
}

.post-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.post-wrapper {
    min-width: 70vw;
    max-width: 90vw;
    padding: 40px;
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 50px;
    margin-left: 50px;
    gap: 30px;
    margin-bottom: 5rem;
    flex-direction: column;
}

.on-column {
    flex-direction: column;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.dropdown-content button {
    color: white;
    width: 100%;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropdown-content button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.dropbtn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


.info-box {
    min-width: 25vw;
    max-height: fit-content;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    color: #fff;
    text-decoration: none;
}

.ratings-wrapper {
    gap: 1rem;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: .5rem;
}

.thin {
    max-height: 5rem;
    margin-top: 0;
    margin-bottom: 0;
}

.animated {
    transition: 0.5s;
}

.animated:hover {
    background: rgba(114, 113, 113, 0.7);
    transform: translateY(-5px);
}

.link {
    background: rgba(63, 62, 62, 0.2);
}

.info-box p {
    max-height: fit-content;
}

.with-button {
    display: flex;
}

.title {
    width: 45vw;
    max-height: fit-content;
}

.info-box h2 {
    margin: auto;
    padding: 0;
}

.submit-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.submit-field {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.small {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: fit-content;
    padding: 0;
}

.submit-b {
    display: flex;
    position: relative;
    padding: auto;
    color: #b79726;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    margin-left: 1rem;
    letter-spacing: 4px;
    background: transparent; /* Add this */
    border: none; /* Add this */
    max-width: 5rem;
    text-align: center;
    /* display text on 2 lines */
}

.submit-b:hover {
    background: #ada494;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #ada88f, 0 0 25px #ada995, 0 0 50px #aaa995,
        0 0 100px #bebeaa;
}

.name-label p {
    flex-grow: 1;
}

input[type="radio"] {
    margin: 0 1em;
}

.name-label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.radio-item {
    display: inline-flex;
    align-items: center;
    margin-right: 1rem; /* adjust as needed */
    width: auto;
}


input[type="radio"] + label {
    margin-right: 5px; /* Adjust this value as per your need */
}

.reply-box {
    min-width: 70vw;
    max-width: 80vw;
    padding: 40px;
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
    margin-left: 25px;
    z-index: 1000;
    gap: 2rem;
}

.reply-box-wrapper {
    margin-bottom: 3rem;
}

/* make a rating-label like the name label */
.reply-box .rating-label,
.reply-box .input-field {
    position: relative;
    width: 90%; /* Adjust this value as needed */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reply-box .submit-b:hover {
    background: #f49803;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #f4c803, 0 0 25px #bd9d0b, 0 0 50px #f4e403,
        0 0 100px #d5cf1e;
}

.reply-box .name-label,
.reply-box .input-field {
    position: relative;
    width: 90%; /* Adjust this value as needed */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-left {
    flex: 1;
}

.flex-right {
    flex: 2;
}

.reply-box .name-label input,
.reply-box .input-field input {
    width: 75%;
    padding: 10px 5px; /* Adjust the left and right padding */
    font-size: 16px;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.reply-box .name-label label,
.reply-box .input-field label {
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.reply-box .name-label input:focus ~ label,
.reply-box .name-label input:valid ~ label,
.reply-box .input-field input:focus ~ label,
.reply-box .input-field input:valid ~ label {
    top: -20px;
    left: 0;
    font-size: 12px;
}

/* Responsive styles for screens less than 600px in height */
@media (max-height: 599px) {
    .content {
        padding-top: 150px;
    }
}

@media (max-width: 850px) {
    .content {
        padding-top: 150px;
    }

    .logo {
        display: none;
    }

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .reply-box {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (min-width: 1000px) {
    .body {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1000px) {
    .info-box {
        width: 40vw;
    }

    .title {
        width: 20vw;
    }

    .link {
        width: 30vw;
    }
}
